*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

.idea/workspace.xml
.DS_Store
wp-content/.DS_Store

# Tan Local
config.codekit3
node_modules/
package.json
package-lock.json
Gruntfile.js
gulpfile.js
*.codekit3
wp-content/uploads/*
